
h2 {
  font.family: sans-serif;
  color: crimson;
}

.best {
  font-family: sans-serif;
  font-style: bold;
  color: blue;
  font-weight: 800;
}

.intro {
  font.family: sans-serif;
  font-style: italic;
  font-weight: normal;
}

.flashy {
  font.family: sans-serif;
  font-style: italic;
  color: red;
  font-weight: bold;
}

.important {
  font.family: sans-serif;
  font-style: bold;
  font-weight: bold;
}

body {
  background-color: pink;
}
