h1 {
  font-family: sans-serif;
  text-align: center;
  color: magenta;
}

h2 {
  font.family: sans-serif;
  text-align: centerl
  color: pink;
}

.intro {
  width: 75%;
  font-style: italic;
  font-weight: normal;
}

.menu {
  width: 50%;
  text-decoration: underline;
  font-weight: bold;
}

.important {
  width: 75%;
  font-style: bold;
  font-weight: bold;
}

body {
  background-color: lightpink;
}
